@page
@model ChristmasList.Pages.CatalogModel
@{
}

<h1>Christmas Catalog</h1>
<a asp-page="AddItem">Add Item</a>


@foreach (var item in Model.Items)
{
    <div class="row m-1 border">
        <div class="col-auto">
            @if (Model.DesiredItems.Any(di => di.Id == item.Id))
            {
                <a class="btn btn-outline-primary" asp-page-handler="DontWantIt" asp-route-itemid="@item.Id">I don't want it!</a>
            }
            else
            {
                <a class="btn btn-primary" asp-page-handler="IWantIt" asp-route-itemid="@item.Id">I want it!</a>
            }
        </div>
        <div class="col">
            <h3>@item.Name</h3>
            <div class="row">
                <div class="ml-3">
                    @item.Price.ToString("c")
                </div>
                <div class="ml-3">
                    @item.Description
                </div>
            </div>
        </div>
    </div>
}
