@page
@using ChristmasList.Pages.Shared
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-page="Catalog">Catalog</a>
</div>
<partial name="HotItems" model="@Model.HotItems" />"

<h1>Suggestions</h1>

@foreach (var suggestion in Model.Suggestions.Where(s => s.ParentSuggestionId == null))
{
    <div class="row">
        <div class="text-body"><strong>@suggestion.SuggestionText</strong> Added on @suggestion.AddedOn.ToShortDateString()</div>
        @foreach (var child in suggestion.ChildSuggestions)
        {
            <div class="text-body">Child: <strong>@child.SuggestionText</strong> Added on @child.AddedOn.ToShortDateString()</div>
        }

        <h5>Add a child suggestion</h5>
        <partial name="AddSuggestionPartial" model="new AddSuggestionPartialModel(suggestion.Id)" />
    </div>
}

<h3>Add a new top-level suggestions</h3>
<partial name="AddSuggestionPartial" model="Model.AddSuggestionModel" />